.h4:before {top:2px;}
.h4.type2:before {top:0;}

.introduce .greeting {}
.introduce .greeting .tit-sub {text-align:center;}
.introduce .greeting .info {margin-top:32px;}
.introduce .greeting .info:after {display:block; content:""; clear:both;}
.introduce .greeting .info .photo {float:left; }
.introduce .greeting .info .txt {float:left; max-width:539px; padding-left:30px; box-sizing:border-box; line-height:24px;}
.introduce .greeting .info .txt p {margin:20px 0;}
.introduce .greeting .info .txt p:first-child {margin-top:0;}
.introduce .greeting .info .txt p .bold {font-weight:bold;} 
.introduce .purpose {margin:0 0 0 20px;}
.introduce .purpose .h4 {margin-top:20px;}
.introduce .purpose .txt-hyphen {margin:0 0 0 20px;}
.introduce .step-procedure {margin-bottom:45px; text-align:center;}
.introduce .step-procedure ol {display:inline-block;}
/*.introduce .step-procedure ol:after {display:block; content:""; clear:both;}*/
.introduce .step-procedure ol li {position:relative; float:left; width:105px; margin-left:58px;}
.introduce .step-procedure ol li:before {position:absolute; left:-43px; top:50%; display:block; content:""; width:26px; height:15px; margin-top:-15px; background:url("../images/introduce/step-procedure-arrow.gif") no-repeat;}
.introduce .step-procedure ol li:first-child {margin-left:0;}
.introduce .step-procedure ol li:first-child:before {background:none;}
.introduce .step-procedure ol li .txt {display:block;}

.introduce .list-procedure {margin-top:20px;}
.introduce .list-procedure ol {}
.introduce .list-procedure ol > li {position:relative; display:table; width:100%; margin-top:64px;}
.introduce .list-procedure ol > li:first-child {margin-top:0;}
.introduce .list-procedure ol > li:after {position:absolute; left:50%; top:-51px; display:block; content:""; width:44px; height:41px; margin-left:-22px; background:url("../images/introduce/bg-list-procedure-arrow.png") no-repeat;}
.introduce .list-procedure ol > li:first-child:after {display:none;}
.introduce .list-procedure ol > li .num {display:table-cell; width:159px; height:145px; background:url("../images/introduce/bg-list-procedure-num.png") no-repeat; background-size:cover; font-size:20px; text-align:center; font-weight:bold; vertical-align:middle;}
.introduce .list-procedure ol > li .num span {display:block; font-size:28px;}
.introduce .list-procedure ol > li .info {display:table-cell; padding:18px 15px 18px 15px;vertical-align:top; border:1px solid #d6d5d5; border-left:none; text-align:left;}
.introduce .list-procedure ol > li .info .h4 {}
.introduce .list-procedure ol > li .info .txt-hyphen {margin-top:7px;}
.introduce .list-procedure ol > li .info .txt-hyphen > li {line-height:20px;}
.introduce .list-procedure ol > li .info .txt-hyphen > li:before {top:9px;}
.introduce .list-procedure ol > li .info .txt-hyphen > li > dl {display:table;}
.introduce .list-procedure ol > li .info .txt-hyphen > li > dl dt {display:table-cell;}
.introduce .list-procedure ol > li .info .txt-hyphen > li > dl dd {display:table-cell; max-width:450px;}

.introduce .indent1 {display:block; text-indent:-100px; padding-left:100px;}
.introduce .indent2 {display:block; text-indent:-86px; padding-left:86px;}
.introduce .indent3 {display:block; text-indent:-105px; padding-left:105px;}
.introduce .indent4 {display:block; text-indent:-40px; padding-left:40px;}

.introduce .txt-ck {margin-left:20px;}
.introduce .txt-ck > li {position:relative; margin-top:10px; padding-left:23px; line-height:24px;}
.introduce .txt-ck > li:before {display:block; position:absolute; left:0; top: 4px; content: ""; width: 16px; height: 16px; margin-right: 6px; background: url(../images/common/bul-tit2.png) no-repeat 50% 50%;}
.introduce .ordinance {}
.introduce .ordinance .finance {margin-top:17px;}
.introduce .ordinance .finance ul {padding:15px 20px 18px; box-sizing:border-box; border:1px solid #d6d5d5;}
.introduce .ordinance .finance ul > li {line-height:28px; }
.introduce .ordinance .finance .info {text-align:right;}
.introduce .ordinance .finance .info {margin-top:14px;}
.introduce .ordinance .finance .info span:first-child:before {display:none;}
.introduce .ordinance .finance .info span:before {position:relative; top:-2px; display:inline-block; content:"/"; margin:0 17px;}
.introduce .ordinance .contract {margin:0 0 0 27px;}
.introduce .ordinance .contract .h4 {margin:35px 0 0;}
.introduce .ordinance .contract .h4:first-child {margin:25px 0 0;}
.introduce .ordinance .contract .txt-hyphen {margin:4px 0 0 23px;}
.introduce .ordinance .contract .txt-hyphen .bg-text {background:#e7f0d8}
.introduce .ordinance .contract .txt-hyphen .list-num {}
.introduce .ordinance .contract .txt-hyphen .list-num > li {text-indent:-20px; padding-left:20px;}
.introduce .list-staff {margin-top:40px;}
.introduce .list-staff .h3 {margin-bottom:18px;}
.introduce .list-staff .list {}
.introduce .list-staff .list > li {display:table; width:100%; margin:15px 0 0; padding:18px 24px; box-sizing:border-box; border:1px solid #d6d5d5; border-top:2px solid #d6d5d5;}
.introduce .list-staff .list > li:first-child {margin-top:0;}
.introduce .list-staff .list > li .photo {display:table-cell; width:108px; padding-right:12px;}
.introduce .list-staff .list > li .photo img {height:141px;}
.introduce .list-staff .list > li .info {display:table-cell; border-top:1px solid #e2e1e1; vertical-align:top;}
.introduce .list-staff .list > li .info > li {height:34px; line-height:34px; border:1px solid #e2e1e1; border-top:none;}
.introduce .list-staff .list > li .info > li .txt1 {display:inline-block; width:85px; background:#f5f9ee; text-align:center;}
.introduce .list-staff .list > li .info > li .txt2 {}

.introduce .list-down {margin-top:9px;}
.introduce .list-down > li {display:table; margin-top:4px; padding:7px 17px 7px 23px;border:1px solid #d6d5d5;}
.introduce .list-down > li .txt {display:table-cell; width:100%; padding-right:20px;vertical-align:middle;}
.introduce .list-down > li .btn {display:table-cell; width: 125px; height: 45px; background: #468966; color: #fff; font-family: "Nanum Square R", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; z-index:10;}
.introduce .list-down > li .btn:after{display: inline-block; margin-left: 10px; width: 15px; height: 15px; background: url(/aml_sangju/images/member/ico-down.png) no-repeat 50% 50%; vertical-align: -1px; content: "";}

.introduce .map-area {}
.introduce .map-area .btn {margin-top:30px; text-align:right;}
.introduce .map-area .btn a {display:inline-block; height:35px; line-height:35px; padding:0 30px; background:#22b24c; color:#fff; font-size:14px;}

@media (max-width: 1040px) {
	.introduce p.txt-hyphen,
	.introduce .txt-hyphen > li,
	.introduce p.txt-important {padding-left:1rem; font-size:1rem; line-height:1.4;}
	.introduce p.txt-hyphen:before,
	.introduce .txt-hyphen > li:before {top:0.7rem; width:0.5rem; height:1px;}
	.introduce .txt-ck > li {line-height:1.4; padding-left:1.3rem;}
	.introduce .txt-ck > li:before {top: 0.1rem; width: 1rem; height: 1rem; background-size: auto 100%;}
	.introduce .ordinance .finance ul > li {line-height:1.7;}
	

	.introduce .greeting .info .photo,
	.introduce .greeting .info .txt {float:none; text-align:center; max-width:100%;}'
	.introduce .greeting .info .photo {margin-left:-10px}
	.introduce .greeting .info .photo img {margin-left:12px;}
	.introduce .greeting .info .txt {margin-top:20px; padding-left:0;}
	.introduce .purpose .h4 {margin-top:1rem;}
	
	.introduce .step-procedure {margin-bottom:2rem;}
	.introduce .step-procedure ol li {width:5rem; margin-left:1.2rem;}
	.introduce .step-procedure ol li .txt {padding-left:1.6rem; text-indent:-1.6rem; text-align:left;}
	.introduce .step-procedure ol li:before {left:-1.2rem; width:1rem; height:0.5rem; margin-top:-1.5rem; background-size:cover;}
	.introduce .step-procedure ol li img {width:4rem;}

	.introduce .list-procedure ol > li .num {width:10rem; font-size:1.2rem;}
	.introduce .list-procedure ol > li .num span {font-size:1.8rem;}
	.introduce .purpose {margin:0 0 0;}
	.introduce .indent1 {display:block; text-indent:-7.2rem; padding-left:7.2rem;}
	.introduce .indent2 {display:block; text-indent:-6.2rem; padding-left:6.2rem;}
	.introduce .indent3 {display:block; text-indent:-7.5rem; padding-left:7.5rem;}
	.introduce .indent4 {display:block; text-indent:-2.9rem; padding-left:2.9rem;}
	.introduce .txt-ck {margin-left:1rem;}
	.introduce .ordinance .contract {margin-left:0;}
	.introduce .ordinance .contract .txt-hyphen {margin-left:1.5rem;}
	.introduce .ordinance .contract .h4 {margin-top:1.5rem;}
	.introduce .list-staff {margin-top:1.5rem;}
	.introduce .list-staff .h3 {margin-bottom:1rem;}
	.introduce .list-staff .list > li .info > li .txt1,
	.introduce .list-staff .list > li .info > li .txt2 {font-size:0.9rem;}
	.introduce .map-area .btn {margin-top:1.5rem;}
	.introduce .map-area .btn a {padding:0 1rem; font-size:1rem;}
}
@media (max-width: 768px) {
	.introduce .list-staff .list > li {margin-top:0.8rem; padding:0.3rem 0.5rem;}
	.introduce .list-staff .list > li .photo {width:6.5rem; padding-right:0.3rem;}
	.introduce .list-staff .list > li .photo img {height:auto;}
	.introduce .list-staff .list > li .info > li {height:2rem; line-height:2rem;}
	.introduce .list-staff .list > li .info > li .txt1 {width:4.5rem;}
	.introduce .list-down > li {padding:1rem 1.5rem;}
	.introduce .list-down > li .btn {width: 80px; height: 30px;}
	.introduce .list-down > li .btn:after {margin-left: 5px; width: 13px; height: 14px; vertical-align: -2px;}
}

@media (max-width: 360px) {

}
