@charset "UTF-8";
.member { /* 이메일  */ /* 전화번호 */ /* 주소 */ }

.member .txt-box { margin-bottom: 28px; text-align: center; letter-spacing: -2px; font-size: 18px; font-weight: bold; line-height: 24px; word-break: keep-all; }

.member .ui--tab { margin-bottom: 40px; }

.member .h4 { margin: 30px 0 14px 20px; }

.member .txt-hyphen { margin-left: 44px; }

.member .txt-hyphen > li { margin-top: 30px; }

.member .txt-hyphen > li:first-child { margin-top: 0; }

.member .txt-hyphen.use li { margin-top: 0; }

.member .txt-hyphen.use .img-box { margin-top: 14px; }

.member .txt-hyphen .txt-num em { display: block; margin-top: 30px; }

.member .txt-hyphen .txt-num ul { margin-left: 20px; }

.member .site-area { margin-right: -10px; }

.member .site-area .site-inner { display: inline-block; width: calc(33% - 12px); margin-left: 12px; vertical-align: top; }

.member .site-area .site-inner:nth-of-type(3n + 1) { margin-left: 0; }

.member .site-area .site-inner:nth-of-type(n + 4) { margin-top: 40px; }

.member .site-area .site-inner h3 { width: 100%; height: 45px; margin-bottom: 18px; font-size: 16px; font-weight: bold; text-align: center; line-height: 45px; color: #fff; background: #18903b; }

.member .site-area .site-inner .site-list > li { margin-top: 18px; }

.member .site-area .site-inner .site-list > li:first-child { margin-top: 0; }

.member .site-area .site-inner .site-list > li > a { position: relative; display: inline-block; padding-left: 28px; font-weight: bold; color: #262626; }

.member .site-area .site-inner .site-list > li > a:hover span { color: #18903b; text-decoration: underline; }

.member .site-area .site-inner .site-list > li > a:before { position: absolute; top: 0; left: 0; display: block; width: 20px; height: 20px; background: url(/aml_sangju/images/member/bul-site.png) no-repeat left top; content: ""; }

.member .site-area .site-inner .txt-hyphen { margin: 18px 0 0 0; padding: 12px 30px; background: #f5f9ee; }

.member .site-area .site-inner .txt-hyphen li { margin-top: 17px; }

.member .site-area .site-inner .txt-hyphen li:first-child { margin-top: 0; }

.member .list-view { margin: 18px 0 40px; }

.member .list-view.window li:nth-child(1):before { background: url(/aml_sangju/images/member/ico-veiw01.png) no-repeat left top; }

.member .list-view.window li:nth-child(2):before { background: url(/aml_sangju/images/member/ico-veiw02.png) no-repeat left top; }

.member .list-view.window li:nth-child(3):before { background: url(/aml_sangju/images/member/ico-veiw03.png) no-repeat left top; }

.member .list-view.window li:nth-child(4):before { background: url(/aml_sangju/images/member/ico-veiw04.png) no-repeat left top; }

.member .list-view.window li:nth-child(5):before { background: url(/aml_sangju/images/member/ico-veiw05.png) no-repeat left top; }

.member .list-view.window li:nth-child(6):before { background: url(/aml_sangju/images/member/ico-veiw06.png) no-repeat left top; }

.member .list-view.window li:nth-child(7):before { background: url(/aml_sangju/images/member/ico-veiw07.png) no-repeat left top; }

.member .list-view.linux li:nth-child(1):before { background: url(/aml_sangju/images/member/ico-veiw08.png) no-repeat left top; }

.member .list-view.linux li:nth-child(2):before { background: url(/aml_sangju/images/member/ico-veiw09.png) no-repeat left top; }

.member .list-view.linux li:nth-child(3):before { background: url(/aml_sangju/images/member/ico-veiw10.png) no-repeat left top; }

.member .list-view.mac li:nth-child(1):before { background: url(/aml_sangju/images/member/ico-veiw08.png) no-repeat left top; }

.member .list-view.mac li:nth-child(2):before { background: url(/aml_sangju/images/member/ico-veiw09.png) no-repeat left top; }

.member .list-view.mac li:nth-child(3):before { background: url(/aml_sangju/images/member/ico-veiw10.png) no-repeat left top; }

.member .list-view li { position: relative; overflow: hidden; margin-top: 5px; padding: 18px 18px 18px 0; border: 1px solid #e1e0e0; }

.member .list-view li:first-child { margin-top: 0; }

.member .list-view li:before { position: absolute; top: 10px; left: 18px; display: inline-block; width: 68px; height: 62px; content: ""; }

.member .list-view li p { position: absolute; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); max-width: 60%; margin-left: 115px; }

.member .list-view li .btn-down { float: right; width: 125px; height: 45px; background: #468966; color: #fff; font-family: "Nanum Square R", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }

.member .list-view li .btn-down span { display: inline-block; }

.member .list-view li .btn-down span:after { display: inline-block; margin-left: 10px; width: 15px; height: 15px; background: url(/aml_sangju/images/member/ico-down.png) no-repeat 50% 50%; vertical-align: -1px; content: ""; }

.member .tbl-form .inp-type1 { width: 266px; }

.member .tbl-form .ipt-lst { margin: 7px 0 5px; }

.member .tbl-form .ipt-lst li { margin-right: 0; }

.member .tbl-form .ipt-lst li + li { margin-left: 30px; }

.member .form--email .txt { margin: 0 4px; font-size: 15px; }

.member .form--email .inp-type1:nth-of-type(1) { width: 266px; }

.member .form--email .inp-type1:nth-of-type(2) { width: 123px; }

.member .form--email .sel-type1 { display: inline-block; width: 123px; margin-left: 2px; }

.member .form--call { display: inline-block; }

.member .form--call .sel-type1 { display: inline-block; width: 86px; }

.member .form--call .inp-type1 { width: 86px; }

.member .form--call + .ipt-lst { display: inline-block; margin: 0 0 0 10px; vertical-align: middle; line-height: 1; }

.member .form--call + .ipt-lst li + li { margin-left: 12px; }

.member .form--addr .block { margin-top: 4px; }

.member .form--addr .block:nth-of-type(1) { margin-top: 0; }

.member .form--addr .btn-type3 { vertical-align: top; }

.member .info-box { text-align: center; }

.member .info-box .h4 { margin: 30px 0; font-weight: bold; }

.member .info-box .txt-hyphen { margin: 10px 0 0 23px; font-weight: normal; }

.member .info-box .check-type1 label { padding-left: 0; }

.member .step-join { overflow: hidden; margin-bottom: 44px; }

.member .step-join li { position: relative; float: left; width: calc(25% - 26px); height: 78px; margin-left: 34px; padding-left: 18px; line-height: 78px; font-size: 20px; font-weight: bold; letter-spacing: -2px; color: #303030; border: 1px solid #d6d5d5; -webkit-box-sizing: border-box; box-sizing: border-box; }

.member .step-join li:first-child { margin-left: 0; }

.member .step-join li:first-child:before { content: ""; }

.member .step-join li.current { line-height: 74px; border: 4px solid #22b24c; }

.member .step-join li.current span { background: #22b24c; }

.member .step-join li.current:before { left: -27px; }

.member .step-join li:before { position: absolute; left: -24px; color: #7b7b7b; font-size: 1.6rem; font-family: "Nanum Square B", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; content: ">"; }

.member .step-join li span { display: inline-block; margin-right: 6px; text-align: center; color: #fff; width: 32px; height: 58px; background: #afda97; }

.member .complete-box { padding: 53px 0 28px; border-top: 1px solid #666; border-bottom: 1px solid #eee; background: #f7f7f7; text-align: center; }

.member .complete-box .point01 { margin-bottom: 22px; font-weight: bold; font-size: 22px; }

.member .complete-box .txt { font-size: 15px; color: #777; }

.member .agree-box { margin-top: 44px; text-align: right; }

.member .agree-box:nth-of-type(1) { margin-top: 23px; }

.member .agree-box .check-type1 { margin-top: 16px; }

.member .agree-box .check-type1 label { padding-left: 0; }

.member .agree-box + .check-type1 { display: block; margin-top: 48px; text-align: center; }

.member .agree-box + .check-type1 label { padding-left: 0; }

.member .txt-self { padding-top: 16px; margin-bottom: 14px; border-top: 2px solid #22b24c; font-size: 18px; font-weight: bold; text-align: center; }

.member .cert-box { padding: 30px; margin-bottom: 20px; border: 1px solid #d6d5d5; }

.member .cert-inner { width: 290px; margin: 0 auto; padding-left: 90px; background: url(/aml_sangju/images/member/ico-cert.png) no-repeat left top; }

.member .cert-inner em { display: inline-block; margin-bottom: 10px; font-family: "Nanum Square B", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-size: 22px; color: #303030; }

.member .cert-inner p { margin-bottom: 19px; }

.member .cert-inner a { position: relative; display: block; width: 199px; height: 44px; padding-left: 20px; line-height: 44px; font-size: 16px; color: #fff; font-weight: bold; background: #22b24c; border-radius: 3px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.member .cert-inner a:after { position: absolute; top: 0; right: 25px; content: ">"; }

.member .list-important { margin: 0 0 18px 23px; }

.member .list-important > li, .member .list-important span { position: relative; margin-top: 16px; padding-left: 30px; }

.member .list-important > li:first-child, .member .list-important span:first-child { margin-top: 0; }

.member .list-important > li:before, .member .list-important span:before { display: inline-block; position: absolute; top: 0; left: 0; width: 20px; height: 20px; padding-top: 3px; font-family: "Nanum Square B", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-size: 15px; text-align: center; color: #fff; border-radius: 50%; background: #f63b02; -webkit-box-sizing: border-box; box-sizing: border-box; content: "!"; }

.member .list-important .list-dash > li { position: relative; padding-left: 13px; }

.member .list-important .list-dash > li:before { position: absolute; top: 0; left: 0; content: "-"; }

.member .list-important .list-dash ul { overflow: hidden; margin: 8px 0 10px -13px; padding: 14px 0 10px; border: 1px solid #d6d5d5; text-align: center; }

.member .list-important .list-dash ul li { display: inline-block; }

.member .list-important .list-dash ul li:before { display: inline-block; margin: 0 45px 0 42px; content: "/"; }

.member .list-important .list-dash ul li:first-child:before { margin: 0; content: ""; }

.member .list-important p span { text-decoration: underline; }

.member .list-important + .btn-area { text-align: center; }

.member .list-important + .btn-area a { position: relative; display: inline-block; width: 149px; height: 38px; padding-left: 18px; font-family: "Nanum Square R", "NanumGothic-Regular", "맑은고딕", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-size: 15px; text-align: left; line-height: 38px; border: 1px solid #d6d5d5; -webkit-box-sizing: border-box; box-sizing: border-box; }

.member .list-important + .btn-area a:before { position: absolute; top: 0; right: 20px; content: ">"; }

.member .form-area { padding: 45px 40px; border: 1px solid #cbc8c7; }

.member .form-area .txt-box { margin: 0 0 20px 26px; padding: 8px 0 13px 116px; background: url(/aml_sangju/images/member/ico-login.png) no-repeat left top; text-align: left; letter-spacing: 0; }

.member .form-area .txt-box em { display: inline-block; margin-bottom: 10px; font-size: 22px; }

.member .form-area .txt-box p { font-weight: normal; font-size: 15px; }

.member .form-box { overflow: hidden; }

.member .form-box ul { float: left; margin-right: 8px; }

.member .form-box ul li { display: table; width: 100%; margin-top: 6px; }

.member .form-box ul li .inp-type1 { height: 45px !important; }

.member .form-box ul li .sel-type1 select { height: 45px !important; }

.member .form-box ul li:first-child { margin-top: 0; }

.member .form-box ul li:last-child .inp-type1 { width: 15rem; }

.member .form-box ul li:last-child .inp-type1:nth-of-type(2), .member .form-box ul li:last-child .sel-type1 { width: 8rem; }

.member .form-box ul li > span { display: table-cell; width: 66px; }

.member .form-box .btn-email { width: 95px; height: 96px; color: #fff; font-weight: bold; background: #22b24c; border-radius: 3px; }

.member .form-box .list-important { margin: 20px 0 0 0; text-align: right; }

@media (max-width: 1040px) { .member .txt-box { font-size: 14px; }
  .member .h4.type2 { margin: 15px 0 7px 0; }
  .member .txt-hyphen { margin-left: 0; }
  .member .txt-hyphen > li { margin-top: 0.8rem; font-size: 1rem; }
  .member .txt-hyphen .txt-num em { margin-top: 0.8rem; }
  .member .site-area .site-inner .site-list > li { margin-top: 10px; }
  .member .site-area .site-inner .site-list > li > a { padding-left: 1.2rem; }
  .member .site-area .site-inner .site-list > li > a:before { top: 0.2rem; width: 1rem; height: 1rem; background-size: auto 100%; }
  .member .site-area .site-inner .txt-hyphen { margin: 10px 0 0 0; padding: 6px 15px; }
  .member .site-area .site-inner .txt-hyphen li { margin-top: 8px; }
  .member .site-area .site-inner .txt-hyphen li a { font-size: 1rem; } }

@media (max-width: 800px) { .member { /* 이메일  */ /* 전화번호 */ /* 주소 */ }
  .member .tbl-form .inp-type1 { width: 100%; }
  .member .tbl-form .inp-type1 + .inp-type1 { margin-top: 0.3rem; }
  .member .tbl-form .ipt-lst { margin: 0.3rem 0; line-height: 1; }
  .member .tbl-form .ipt-lst li + li { margin-left: 1rem; }
  .member .form--email { position: relative; }
  .member .form--email .inp-type1 { width: 100% !important; }
  .member .form--email .inp-type1:nth-of-type(1) { padding-right: 2rem; margin-bottom: 0.3rem; }
  .member .form--email .txt { display: inline-block; position: absolute; right: 0; top: 0; width: 2rem; margin: 0; font-size: 0.8rem; line-height: 2.7rem; text-align: center; }
  .member .form--email .sel-type1 { display: block; width: 100%; margin: 0.3rem 0 0; }
  .member .form--call { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .member .form--call .sel-type1 { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .member .form--call .inp-type1 { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .member .form--call .txt { margin: 0 0.3rem; line-height: 2.7rem; }
  .member .form--call .ipt-lst { display: block; margin: 0.3rem 0 0; }
  .member .form--call .ipt-lst li + li { margin-left: 1rem; }
  .member .form--addr .block { margin-top: 0.3rem; }
  .member .form--addr .block:nth-of-type(1) { margin-top: 0; display: -webkit-box; display: -ms-flexbox; display: flex; }
  .member .form--addr .block:nth-of-type(1) .inp-type1 { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .member .form--addr .btn-type3 { margin-left: 0.3rem; vertical-align: top; } }

@media (max-width: 768px) { .member .txt-box { margin: 0 5rem 2rem; line-height: 20px; }
  .member .txt-hyphen > li { line-height: 18px; }
  .member .txt-hyphen > li:before { top: 8px; }
  .member .txt-hyphen .txt-num ul { margin-left: 14px; }
  .member .list-view { margin: 10px 0 20px; }
  .member .list-view li:before { background-size: 100% !important; left: 10px; }
  .member .list-view li { padding: 9px; }
  .member .list-view li:before { width: 34px; height: 31px; }
  .member .list-view li p { position: static; top: auto; -webkit-transform: translate(0, 0); transform: translate(0, 0); max-width: inherit; margin: 0 0 10px 0; padding-top: 42px; }
  .member .list-view li .btn-down { position: absolute; top: 10px; right: 10px; float: none; width: 80px; height: 30px; }
  .member .list-view li .btn-down span:after { margin-left: 5px; width: 13px; height: 14px; vertical-align: -2px; }
  .member .site-area { margin: 0; }
  .member .site-area .site-inner { width: calc(50% - 6px); margin-left: 6px; }
  .member .site-area .site-inner:nth-of-type(2n + 1) { margin-left: 0; }
  .member .site-area .site-inner:nth-of-type(n + 3) { margin-top: 20px; }
  .member .site-area .site-inner:nth-of-type(4) { margin-left: 6px; }
  .member .site-area .site-inner h3 { height: 23px; line-height: 23px; margin-bottom: 10px; font-size: 12px; }
  .member .ui--tab { margin-bottom: 20px; }
  .member .info-box .txt-hyphen { margin: 5px 0 0 12px; }
  .member .info-box .check-type1 label { font-size: 1rem; }
  .member .step-join { margin-bottom: 22px; }
  .member .step-join li { width: calc(25% - 13px); height: 45px; margin-left: 15px; padding-left: 0; line-height: 45px; font-size: 12px; }
  .member .step-join li.current { border: 2px solid #22b24c; line-height: 45px; }
  .member .step-join li.current:before { left: -13px; }
  .member .step-join li:before { left: -12px; font-size: 1rem; }
  .member .step-join li span { width: 20px; height: 100%; margin-right: 3px; }
  .member .complete-box { padding: 27px 10px 14px; }
  .member .complete-box .point01 { margin-bottom: 11px; font-weight: bold; font-size: 15px; }
  .member .complete-box .txt { font-size: 12px; }
  .member .info-box .check-type1 { margin-top: 15px; }
  .member .agree-box { margin-top: 22px; }
  .member .agree-box:nth-of-type(1) { margin-top: 12px; }
  .member .agree-box .ipt-textarea1 { font-size: 1.2rem; line-height: 20px; }
  .member .agree-box .check-type1 { margin-top: 8px; }
  .member .agree-box + .check-type1 { margin-top: 24px; }
  .member .txt-self { padding-top: 8px; margin-bottom: 7px; font-size: 1.1rem; }
  .member .cert-box { padding: 15px; margin-bottom: 10px; }
  .member .cert-inner { width: 145px; padding-left: 4.5rem; background-size: 3.5rem 100% !important; }
  .member .cert-inner em { margin-bottom: 10px; font-size: 1.1rem; }
  .member .cert-inner p { margin-bottom: 10px; font-size: 0.9rem; }
  .member .cert-inner a { width: 115px; height: 22px; padding-left: 10px; line-height: 22px; font-size: 12px; }
  .member .cert-inner a:after { right: 7px; }
  .member .list-important { margin: 0 0 10px 0; }
  .member .list-important > li { margin-top: 8px; padding-left: 1.3rem; }
  .member .list-important > li:before { width: 1rem; height: 1rem; top: 3px; padding-top: 0; font-size: 0.9rem; line-height: 1rem; }
  .member .list-important .list-dash > li { padding-left: 8px; }
  .member .list-important .list-dash ul { margin: 4px 0 5px -6px; padding: 7px 0 5px; border: 1px solid #d6d5d5; }
  .member .list-important .list-dash ul li:before { margin: 0 0.5rem 0 0.5rem; }
  .member .list-important + .btn-area a { width: 9rem; height: 3rem; padding-left: 10px; font-size: 1rem; line-height: 3rem; }
  .member .list-important + .btn-area a:before { right: 1rem; }
  .member .form-area { padding: 2rem; }
  .member .form-area .txt-box { margin: 0 0 10px 13px; padding: 4px 0 6px 6rem; background-size: 5rem auto; }
  .member .form-area .txt-box em { margin-bottom: 5px; font-size: 1.3rem; line-height: 1.5rem; }
  .member .form-area .txt-box p { font-size: 1.1rem; line-height: 1.3rem; }
  .member .form-box { overflow: hidden; }
  .member .form-box ul { float: left; margin-right: 8px; }
  .member .form-box ul li { display: table; width: 100%; margin-top: 6px; }
  .member .form-box ul li .inp-type1 { height: 45px !important; }
  .member .form-box ul li .sel-type1 select { height: 45px !important; }
  .member .form-box ul li:first-child { margin-top: 0; }
  .member .form-box ul li:last-child .inp-type1 { width: 15rem; }
  .member .form-box ul li:last-child .inp-type1:nth-of-type(2), .member .form-box ul li:last-child .sel-type1 { width: 8rem; }
  .member .form-box ul li > span { display: table-cell; width: 66px; }
  .member .form-box .btn-email { width: 95px; height: 96px; color: #fff; font-weight: bold; background: #22b24c; border-radius: 3px; }
  .member .form-box .list-important { margin: 20px 0 0 0; text-align: right; } }

@media (max-width: 360px) { .member .txt-box { font-size: 12px; }
  .member .step-join li { width: calc(25% - 7px); margin-left: 9px; font-size: 1.1rem; }
  .member .step-join li:before { left: -8px; }
  .member .step-join li.current:before { left: -9px; }
  .member .list-important .list-dash ul li { display: block; }
  .member .list-important .list-dash ul li:before { margin: 0; content: ""; } }
