@charset "utf-8";

@import 'base';


.main {
	padding-bottom:26px;
	// 메인 비주얼
	.main-visual-zone {
		position:relative; height:319px;

		.mo {display:none}
		.slider {
			height:319px;
			img { height:100%; }
			.slick-slide {outline:none}
			.slick-arrow {display:none !important}
		}

		.visual-txt {
			position:absolute; top:54px; width:100%; text-align:center;
			.txt1 {height:40px; text-indent:-9999em; @include background("main/img-visual-txt.png",no-repeat 50% 50%);}
			.txt2 {width:422px; margin:20px auto 0; font-size:13px; color:#132819; background:rgba(256,256,256,0.6); border-top:1px solid #236436; border-bottom:1px solid #236436; line-height:36px; letter-spacing:-1px;}
		}
	}
	// 중요 메뉴
	.main-important-menu {
		position:relative; z-index: 1;
		max-width:1020px; margin:0 auto; height:75px; margin-top:-75px; background:rgba(0,0,0,0.7);
		ul:after {display:block; clear:both; content:""}
		li {
			display:table; position:relative; float:left; width:20%; height:75px; text-align:center;
			&:before {display:inline-block; position:absolute; top:9px; left:0; content:''; width:1px; height:58px; background:rgba(256,256,256,0.2);}
			&:first-child:before {display:none}
		}
		a {
			display:table-cell; height:75px; width:100%; color:#fff;font-weight:bold; box-sizing:border-box; vertical-align:middle;
			span {display:inline-block; text-align:left; vertical-align:middle;}
			&:before {display:inline-block; content:''; width:54px; height:54px; margin-right:15px; vertical-align:middle;}
			&.goto1:before {@include background("main/icon-goto1.png",no-repeat 50% 50%);}
			&.goto2:before {@include background("main/icon-goto2.png",no-repeat 50% 50%);}
			&.goto3:before {@include background("main/icon-goto3.png",no-repeat 50% 50%);}
			&.goto4:before {@include background("main/icon-goto4.png",no-repeat 50% 50%);}
			&.goto5:before {@include background("main/icon-goto5.png",no-repeat 50% 50%);}
		}
	}
	// 공지사항 자유게시판
	.main-group {overflow:hidden; position:relative; max-width:1040px; margin:27px auto 0; height:215px; box-sizing:border-box; padding:0 10px;}
	.main-board-zone {
		position:relative; width:420px; height:215px; padding:10px 15px 20px; margin:0 auto; border:1px solid #dbdbdb; box-sizing:border-box;
		.tit {
			font-weight:bold; color:#333; font-size:18px; letter-spacing:-1px;
			.color1 {color:#1ca544;}
			.color2 {color:#5c5c5c;}
		}
		.lst {
			margin-top:16px;
			li {margin-top:9px;}
			li:first-child {margin:0;}
			a {display:block; font-size:13px; line-height:19px; letter-spacing:-1px;}
			.bul {display: inline-block; width:61px; border:1px solid #dddbdb; color:#5c5c5c; font-size:12px; text-align:center; line-height:18px; vertical-align:middle;}
			.cont {display:inline-block; max-width:260px; overflow:hidden; vertical-align:middle; text-overflow:ellipsis; white-space:nowrap; color:#333;}
			.date {float:right; display:inline-block; margin-top:2px; color:#9e9e9e;}
		}
		.close {
			display:block; position:absolute; right:6px; top:6px; width:30px; height:30px;
			background:#12932e; text-indent:-9999em;
			&:before {display:block; position:absolute; left:15px; top:9px; width:1px; height:14px; content:""; background:#fff}
			&:after {display:block; position:absolute; left:9px; top:15px; width:14px; height:1px; content:""; background:#fff}
		}
	}
	// 안내영역
	.main-gruid-zone {
		position:absolute; left:10px; top:0; width:282px; height:100%;
		.tit {padding-left:3px; font-size:18px; color:#fff; font-weight:bold;}

		.guide1 {
			position:relative; width:100%; height:126px; padding:7px 16px 13px; @include background("main/bg-guide1.jpg", no-repeat 50% 50%); background-size:100% 100%; box-sizing:border-box;
			.slider {height:73px; width:100%; margin-top:9px; background:#fff;}
			.slick-arrow {display:none !important}
			.slick-dots {
				position:absolute; top:-25px; right:0;
				&:after {display:block; clear:both; content:""}
				li {float:left; margin-left:7px}
				li:first-child {margin:0;}
				button {width:11px; height:11px; background:rgba(0,0,0,0.3); text-indent:-9999em; border-radius:100px;}
				.slick-active button {background:#fff;}
			}
		}
		.guide2 {
			width:100%; height:85px; margin-top:5px; padding:4px 16px 0; @include background("main/bg-guide2.jpg", no-repeat 50% 50%); background-size:100% 100%; box-sizing:border-box;
			.box {
				padding:3px 0 0 54px; margin-top:4px; height:44px; background:url('../images/main/icon-guide.png') no-repeat 12px 50%, #fff; box-sizing:border-box;
				.name {font-size:12px; color:#373737;}
				.num {margin-top:-2px; font-size:17px;font-weight:bold; color:#00944a;}
			}
		}
	}
	// 배너영역
	.main-banner-zone {
		overflow:hidden; position:absolute; right:10px; top:0; width:282px; height:100%; border:1px solid #dbdbdb; box-sizing:border-box;

		.indicator {
			*[class*="btn-"] {
				position:absolute; top:0; width:32px; height:30px; background:rgba(0,0,0,0.5);
				span {display: inline-block; text-indent:-9999em;}
				&:before {display:inline-block; position:absolute; top:0; left:0; width:100%; line-height:30px; color:#fff; font-family:$font4; font-size:16px;}
			}

			.btn-prev {
				right:32px;
				&:before {content:"<"}
			}
			.btn-next {
				right:0;
				&:before {content:">"}
			}
		}
	}
	// 바로가기메뉴
	.main-goto-menu {
		max-width:1020px; margin:25px auto 0; background:#12932e;
		&:after {display:block; clear:both; content:""}
		li {
			float:left; position:relative; width:12.5%; height:70px; text-align:center; letter-spacing:-1px;
			&:before {display:block; position:absolute; top:8px; left:0; width:1px; height:55px; background:#41a958; content:"";}
			&:first-child:before {display:none}
		}
		a {
			display:block; position:relative;  height:70px; color:#fff; box-sizing:border-box;
			.name {display:block; position:absolute; top:50%; width:100%;  font-size:14px; font-weight:bold; transform:translate(0, -50%); vertical-align:middle; padding-bottom:26px;}
			.goto {display:block; position:absolute; bottom:8px; left:50%; width:70px; padding-bottom:2px; margin-left:-35px; line-height:16px; font-size:10px; border-radius:100px; background:#10491c; text-align:center;}
		}
		a:hover {
			.goto {background:#c8cb07;}
		}
	}
}





@media (max-width:1020px) {
	.main {
		padding-bottom:1.5rem;

		// 메인 비주얼
		.main-visual-zone {
			overflow:hidden; height:34rem;

			.pc {display:none}
			.mo {display:inherit; width:100%; height:100%;}

			.slider {
				height:34rem;
				img { height:100%; }
				.slick-slide {height:34rem;outline:none}
			}
		}
		// 중요 메뉴
		.main-important-menu {
			height:10.5rem; margin-top:-10.5rem;
			li {
				display:block; height:10.5rem;
				&:before { top:1.3rem;height:8.3rem;}
				&:first-child:before {display:none}
			}
			a {
				display:block; height:10.5rem; padding:1.3rem 0; width:100%; color:#fff;font-weight:bold; box-sizing:border-box; vertical-align:middle;
				span {display:block; margin-top:0.7rem; text-align:center; font-size:1rem; line-height:1.2;}
				&:before {display:block; width:5.2rem; height:5.2rem; margin:0 auto;}
				&.goto1:before {background-size:auto 100%}
				&.goto2:before {background-size:auto 100%}
				&.goto3:before {background-size:auto 100%}
				&.goto4:before {background-size:auto 100%}
				&.goto5:before {background-size:auto 100%}
			}
		}
		// 공지사항 자유게시판
		.main-group {margin:1.4rem auto 0; height:auto; padding:0 1rem;}
		.main-board-zone {
			width:100%; height:auto; padding:1rem 1.2rem 1.2rem;
			.tit {font-size:1.4rem; }
			.lst {
				margin-top:1.9rem;
				li {margin-top:0.7rem;}
				li:first-child {margin:0;}
				a {font-size:1rem; line-height:1.6rem;}
				.bul {width:4.8rem; font-size:0.9rem;line-height:1.5rem; padding-bottom:0}
				.cont {margin-left:0.2rem;max-width:65%;}
				.date {margin-top:0.2rem;}
			}
			.close {
				right:0.5rem; top:0.5rem; width:2.5rem; height:2.5rem;
				&:before {left:1.2rem; top:0.8rem; height:1rem; }
				&:after {left:0.8rem; top:1.2rem; width:1rem;}
			}
		}
		// 안내영역
		.main-gruid-zone {
			position:static; float:left; width:50%; height:auto; margin-top:1rem; padding-right:0.25rem; box-sizing:border-box;
			.tit {padding-left:0.2rem; font-size:1rem;}

			.guide1 {
				height:7.25rem; padding:0.7rem 1rem 0;
				.slider {
					height:4.25rem; margin-top:0.5rem; text-align:center;
					img {height:100%; margin:0 auto;}
					.slick-slide { height:4.25rem; text-align:center;}
				}
				.slick-dots {
					top:-1.5rem;
					li {margin-left:0.4rem}
					li:first-child {margin:0;}
					button {width:0.6rem; height:0.6rem;}
				}
			}
			.guide2 {
				height:4.9rem; margin-top:0.25rem; padding:0.4rem 1rem 0;
				.box {
					overflow:hidden; padding:0; margin-top:4px; height:2.5rem; background:url('../images/main/img-m-guide2.png') no-repeat 50% 50%, #fff; background-size:auto 100%; text-indent:-9999em;
				}
			}
		}
		// 배너영역
		.main-banner-zone {
			position:relative; right:inherit; top:inherit; float:right; width:50%; height:12.5rem; margin-top:1rem; border:0; padding-left:0.25rem; box-sizing:border-box;
			.slider {border:1px solid #dbdbdb}
			.indicator {
				*[class*="btn-"] {
					width:1.8rem; height:1.8rem;
					&:before {line-height:1.8rem; font-size:1rem;}
				}
				.btn-prev {right:1.8rem; }
			}
			.slick-slider {height:12.5rem}
			.slick-slide {
				height:12.5rem;
				img {width:100%; height:100%}
			}
		}

		// 바로가기메뉴
		.main-goto-menu {
			position:relative; margin:1.1rem 1rem 0;
			&:before {display:block; position:absolute; top:50%; left:0.7rem; content:""; width:calc(100% - 1.4rem); height:1px; background:#41a958}
			li {
				width:25%; height:6rem;
				&:before {top:1rem; height:3.9rem;}
				&:nth-child(4n+1):before {display:none}
			}
			a {
				height:6rem;
				.name {font-size:1rem; padding-bottom:1.9rem;}
				.goto {bottom:1rem; width:4.9rem; padding-bottom:0; margin-left:-2.45rem; line-height:1.2rem; font-size:0.7rem;}
			}
		}
	}
	.mobile .main .main-goto-menu a:hover .goto {background:#10491c}
}
@media (max-width:600px) {
	.main {
		// 메인 비주얼
		.main-visual-zone {
			.visual-txt {
				top:4rem;
				.txt1 {height:2.5rem; width:90%; margin:0 auto; @include background("main/img-m-visual-txt.png",no-repeat 50% 50%);background-size:100% auto;}
				.txt2 {display: inline-block; width:auto; margin:1.5rem auto 0; padding:0 1rem; font-size:0.7rem;line-height:2.2rem; letter-spacing:-0.5px}
			}
		}
	}
}
@media (max-width:360px) {
	.main {
		// 메인 비주얼
		.main-visual-zone {
			.visual-txt {
				.txt2 {padding:0 0.6rem;}
			}
		}
	}
}
@media (max-width:321px) {
	.main {
		/* 공지사항 자유게시판 */
		.main-board-zone {
			.lst {
				.cont {max-width:60%;}
			}
		}
	}
}
