@charset "utf-8";
@import "base";
.member {
  .txt-box {
    text-align: center;
    letter-spacing: -2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 28px;
  }
  .ui--tab {
    margin-bottom: 40px;
  }
  .h4 {
    margin: 30px 0 14px 20px;
  }
  .txt-hyphen {
    margin-left: 44px;
    > li {
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
    }
    &.use {
      li {
        margin-top: 0;
      }
      .img-box {
        margin-top: 14px;
      }
    }
    .txt-num {
      em {
        display: block;
        margin-top: 30px;
      }
      ul {
        margin-left: 20px;
      }
    }
  }
  .site-area {
    margin-right: -10px;
    .site-inner {
      display: inline-block;
      width: calc(33% - 12px);
      margin-left: 12px;
      vertical-align: top;
      &:nth-of-type(3n + 1) {
        margin-left: 0;
      }
      &:nth-of-type(n + 4) {
        margin-top: 40px;
      }
      h3 {
        width: 100%;
        height: 45px;
        margin-bottom: 18px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 45px;
        color: #fff;
        background: #18903b;
      }
      .site-list {
        > li {
          margin-top: 18px;
          &:first-child {
            margin-top: 0;
          }
          > a {
            position: relative;
            display: inline-block;
            padding-left: 28px;
            font-weight: bold;
            color: #262626;
            &:hover {
              span {
                color: #18903b;
                text-decoration: underline;
              }
            }
            &:before {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 20px;
              height: 20px;
              background: url(/aml_sangju/images/member/bul-site.png) no-repeat
              left top;
              content: "";
            }
          }
        }
      }
      .txt-hyphen {
        margin: 18px 0 0 0;
        padding: 12px 30px;
        background: #f5f9ee;
        li {
          margin-top: 17px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
  .list-view {
    margin: 18px 0 40px;
    &.window {
      li {
        &:nth-child(1):before {
          background: url(/aml_sangju/images/member/ico-veiw01.png) no-repeat
          left top;
        }
        &:nth-child(2):before {
          background: url(/aml_sangju/images/member/ico-veiw02.png) no-repeat
          left top;
        }
        &:nth-child(3):before {
          background: url(/aml_sangju/images/member/ico-veiw03.png) no-repeat
          left top;
        }
        &:nth-child(4):before {
          background: url(/aml_sangju/images/member/ico-veiw04.png) no-repeat
          left top;
        }
        &:nth-child(5):before {
          background: url(/aml_sangju/images/member/ico-veiw05.png) no-repeat
          left top;
        }
        &:nth-child(6):before {
          background: url(/aml_sangju/images/member/ico-veiw06.png) no-repeat
          left top;
        }
        &:nth-child(7):before {
          background: url(/aml_sangju/images/member/ico-veiw07.png) no-repeat
          left top;
        }
      }
    }
    &.linux {
      li {
        &:nth-child(1):before {
          background: url(/aml_sangju/images/member/ico-veiw08.png) no-repeat
          left top;
        }
        &:nth-child(2):before {
          background: url(/aml_sangju/images/member/ico-veiw09.png) no-repeat
          left top;
        }
        &:nth-child(3):before {
          background: url(/aml_sangju/images/member/ico-veiw10.png) no-repeat
          left top;
        }
      }
    }
    &.mac {
      li {
        &:nth-child(1):before {
          background: url(/aml_sangju/images/member/ico-veiw08.png) no-repeat
          left top;
        }
        &:nth-child(2):before {
          background: url(/aml_sangju/images/member/ico-veiw09.png) no-repeat
          left top;
        }
        &:nth-child(3):before {
          background: url(/aml_sangju/images/member/ico-veiw10.png) no-repeat
          left top;
        }
      }
    }
    li {
      position: relative;
      overflow: hidden;
      margin-top: 5px;
      padding: 18px 18px 18px 0;
      border: 1px solid #e1e0e0;
      &:fisrt-child {
        margin-top: 0;
      }
      &:before {
        position: absolute;
        top: 10px;
        left: 18px;
        display: inline-block;
        width: 68px;
        height: 62px;
        content: "";
      }

      p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        max-width: 60%;
        margin-left: 115px;
      }
      .btn-down {
        float: right;
        width: 125px;
        height: 45px;
        background: #468966;
        color: #fff;
        font-family: $font4;
        span {
          display: inline-block;
          &:after {
            display: inline-block;
            margin-left: 10px;
            width: 15px;
            height: 15px;
            background: url(/aml_sangju/images/member/ico-down.png) no-repeat
            50% 50%;
            vertical-align: -1px;
            content: "";
          }
        }
      }
    }
  }





	.tbl-form {
		.inp-type1 {width:266px;}
		.ipt-lst {
			margin:7px 0 5px;
			li {margin-right: 0;}
			li + li { margin-left:30px}
		}
	}
	/* 이메일  */
	.form--email {
		.txt {margin:0 4px; font-size:15px;}
		.inp-type1:nth-of-type(1) {width:266px;}
		.inp-type1:nth-of-type(2) {width:123px;}
		.sel-type1 {display:inline-block; width:123px; margin-left:2px;}
	}
	/* 전화번호 */
	.form--call {
		display: inline-block;
		.sel-type1 {display: inline-block; width:86px;}
		.inp-type1 {width:86px;}
		& + .ipt-lst {
			display: inline-block; margin:0 0 0 10px; vertical-align: middle; line-height: 1;
			li + li {margin-left:12px}
		}
	}
	/* 주소 */
	.form--addr {
		.block {
			margin-top:4px;
			&:nth-of-type(1) {margin-top:0;}
		}
		.btn-type3 {vertical-align: top;}
	}
}

@media (max-width: 1040px) {
  .member {
    .txt-box {
      font-size: 14px;
    }
    .h4.type2 {
      margin: 15px 0 7px 10px;
    }
    .txt-hyphen {
      > li {
        margin-top: 0.8rem;
        font-size: 1rem;
      }
      .txt-num {
        em {
          margin-top: 0.8rem;
        }
      }
    }
    .site-area {
      .site-inner {
        .site-list {
          > li {
            margin-top: 10px;
            > a {
              padding-left: 1.2rem;
              &:before {
                top: 0.2rem;
                width: 1rem;
                height: 1rem;
                background-size: auto 100%;
              }
            }
          }
        }
        .txt-hyphen {
          margin: 10px 0 0 0;
          padding: 6px 15px;
          li {
            margin-top: 8px;
            a {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width:800px) {
	.member {
		.tbl-form {
			.inp-type1 {
				width:100%;
				& + .inp-type1 {margin-top:0.3rem}
			}
			.ipt-lst {
				margin:0.3rem 0; line-height: 1;
				li + li { margin-left:1rem}
			}
		}

		/* 이메일  */
		.form--email {
			position: relative;
			.inp-type1 {width:100% !important;}
			.inp-type1:nth-of-type(1) {padding-right:2rem; margin-bottom:0.3rem;}
			.txt {display:inline-block; position:absolute;  right:0; top:0; width:2rem; margin:0; font-size:0.8rem;line-height: 2.7rem; text-align:center;}
			.sel-type1 {display:block; width:100%; margin:0.3rem 0 0;}
		}
		/* 전화번호 */
		.form--call {
			display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; 
			.sel-type1 {flex:1}
			.inp-type1 {flex:1}
			.txt {margin:0 0.3rem; line-height: 2.7rem;}
			.ipt-lst {
				display:block; margin:0.3rem 0 0;
				li + li {margin-left:1rem}
			}
		}
		/* 주소 */
		.form--addr {
			.block {
				margin-top:0.3rem;
				&:nth-of-type(1) {
					margin-top:0; 
					display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
					.inp-type1 {flex:1}
				}
			}
			.btn-type3 {margin-left:0.3rem; vertical-align: top;}
		}
	}
}


@media (max-width: 768px) {
  .member {
    .site-area {
      margin: 0;
      .site-inner {
        width: calc(50% - 6px);
        margin-left: 6px;
        &:nth-of-type(2n + 1) {
          margin-left: 0;
        }
        &:nth-of-type(n + 3) {
          margin-top: 20px;
        }
        &:nth-of-type(4) {
          margin-left: 6px;
        }
        h3 {
          height: 23px;
          line-height: 23px;
          margin-bottom: 10px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .member {
    .txt-box {
      margin-bottom: 14px;
      font-size: 12px;
    }
    .ui--tab {
      margin-bottom: 20px;
    }
    .txt-hyphen {
      margin-left: 20px;
      > li {
        line-height: 18px;
        &:before {
          top: 8px;
        }
      }
      .txt-num ul {
        margin-left: 14px;
      }
    }
  }
}
