@charset "utf-8";
@import "base";
.member {
  .txt-box {
    margin-bottom: 28px;
    text-align: center;
    letter-spacing: -2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    word-break: keep-all;
  }
  .ui--tab {
    margin-bottom: 40px;
  }
  .h4 {
    margin: 30px 0 14px 20px;
  }
  .txt-hyphen {
    margin-left: 44px;
    > li {
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
    }
    &.use {
      li {
        margin-top: 0;
      }
      .img-box {
        margin-top: 14px;
      }
    }
    .txt-num {
      em {
        display: block;
        margin-top: 30px;
      }
      ul {
        margin-left: 20px;
      }
    }
  }
  .site-area {
    margin-right: -10px;
    .site-inner {
      display: inline-block;
      width: calc(33% - 12px);
      margin-left: 12px;
      vertical-align: top;
      &:nth-of-type(3n + 1) {
        margin-left: 0;
      }
      &:nth-of-type(n + 4) {
        margin-top: 40px;
      }
      h3 {
        width: 100%;
        height: 45px;
        margin-bottom: 18px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 45px;
        color: #fff;
        background: #18903b;
      }
      .site-list {
        > li {
          margin-top: 18px;
          &:first-child {
            margin-top: 0;
          }
          > a {
            position: relative;
            display: inline-block;
            padding-left: 28px;
            font-weight: bold;
            color: #262626;
            &:hover {
              span {
                color: #18903b;
                text-decoration: underline;
              }
            }
            &:before {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 20px;
              height: 20px;
              background: url(/aml_sangju/images/member/bul-site.png) no-repeat
                left top;
              content: "";
            }
          }
        }
      }
      .txt-hyphen {
        margin: 18px 0 0 0;
        padding: 12px 30px;
        background: #f5f9ee;
        li {
          margin-top: 17px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
  .list-view {
    margin: 18px 0 40px;
    &.window {
      li {
        &:nth-child(1):before {
          background: url(/aml_sangju/images/member/ico-veiw01.png) no-repeat
            left top;
        }
        &:nth-child(2):before {
          background: url(/aml_sangju/images/member/ico-veiw02.png) no-repeat
            left top;
        }
        &:nth-child(3):before {
          background: url(/aml_sangju/images/member/ico-veiw03.png) no-repeat
            left top;
        }
        &:nth-child(4):before {
          background: url(/aml_sangju/images/member/ico-veiw04.png) no-repeat
            left top;
        }
        &:nth-child(5):before {
          background: url(/aml_sangju/images/member/ico-veiw05.png) no-repeat
            left top;
        }
        &:nth-child(6):before {
          background: url(/aml_sangju/images/member/ico-veiw06.png) no-repeat
            left top;
        }
        &:nth-child(7):before {
          background: url(/aml_sangju/images/member/ico-veiw07.png) no-repeat
            left top;
        }
      }
    }
    &.linux {
      li {
        &:nth-child(1):before {
          background: url(/aml_sangju/images/member/ico-veiw08.png) no-repeat
            left top;
        }
        &:nth-child(2):before {
          background: url(/aml_sangju/images/member/ico-veiw09.png) no-repeat
            left top;
        }
        &:nth-child(3):before {
          background: url(/aml_sangju/images/member/ico-veiw10.png) no-repeat
            left top;
        }
      }
    }
    &.mac {
      li {
        &:nth-child(1):before {
          background: url(/aml_sangju/images/member/ico-veiw08.png) no-repeat
            left top;
        }
        &:nth-child(2):before {
          background: url(/aml_sangju/images/member/ico-veiw09.png) no-repeat
            left top;
        }
        &:nth-child(3):before {
          background: url(/aml_sangju/images/member/ico-veiw10.png) no-repeat
            left top;
        }
      }
    }
    li {
      position: relative;
      overflow: hidden;
      margin-top: 5px;
      padding: 18px 18px 18px 0;
      border: 1px solid #e1e0e0;
      &:first-child {
        margin-top: 0;
      }
      &:before {
        position: absolute;
        top: 10px;
        left: 18px;
        display: inline-block;
        width: 68px;
        height: 62px;
        content: "";
      }

      p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        max-width: 60%;
        margin-left: 115px;
      }
      .btn-down {
        float: right;
        width: 125px;
        height: 45px;
        background: #468966;
        color: #fff;
        font-family: $font4;
        span {
          display: inline-block;
          &:after {
            display: inline-block;
            margin-left: 10px;
            width: 15px;
            height: 15px;
            background: url(/aml_sangju/images/member/ico-down.png) no-repeat
              50% 50%;
            vertical-align: -1px;
            content: "";
          }
        }
      }
    }
  }
  .tbl-form {
    .inp-type1 {
      width: 266px;
    }
    .ipt-lst {
      margin: 7px 0 5px;
      li {
        margin-right: 0;
      }
      li + li {
        margin-left: 30px;
      }
    }
  }
  /* 이메일  */
  .form--email {
    .txt {
      margin: 0 4px;
      font-size: 15px;
    }
    .inp-type1:nth-of-type(1) {
      width: 266px;
    }
    .inp-type1:nth-of-type(2) {
      width: 123px;
    }
    .sel-type1 {
      display: inline-block;
      width: 123px;
      margin-left: 2px;
    }
  }
  /* 전화번호 */
  .form--call {
    display: inline-block;
    .sel-type1 {
      display: inline-block;
      width: 86px;
    }
    .inp-type1 {
      width: 86px;
    }
    & + .ipt-lst {
      display: inline-block;
      margin: 0 0 0 10px;
      vertical-align: middle;
      line-height: 1;
      li + li {
        margin-left: 12px;
      }
    }
  }
  /* 주소 */
  .form--addr {
    .block {
      margin-top: 4px;
      &:nth-of-type(1) {
        margin-top: 0;
      }
    }
    .btn-type3 {
      vertical-align: top;
    }
  }
  .info-box {
    text-align: center;
    .h4 {
      margin: 30px 0;
      font-weight: bold;
    }
    .txt-hyphen {
      margin: 10px 0 0 23px;
      font-weight: normal;
    }
    .check-type1 {
      label {
        padding-left: 0;
      }
    }
  }
  .step-join {
    overflow: hidden;
    margin-bottom: 44px;
    li {
      position: relative;
      float: left;
      width: calc(25% - 26px);
      height: 78px;
      margin-left: 34px;
      padding-left: 18px;
      line-height: 78px;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -2px;
      color: #303030;
      border: 1px solid #d6d5d5;
      box-sizing: border-box;
      &:first-child {
        margin-left: 0;
        &:before {
          content: "";
        }
      }
      &.current {
        line-height: 74px;
        border: 4px solid #22b24c;
        span {
          background: #22b24c;
        }
        &:before {
          left: -27px;
        }
      }
      &:before {
        position: absolute;
        left: -24px;
        color: #7b7b7b;
        font-size: 1.6rem;
        font-family: $font5;
        content: ">";
      }
      span {
        display: inline-block;
        margin-right: 6px;
        text-align: center;
        color: #fff;
        width: 32px;
        height: 58px;
        background: #afda97;
      }
    }
  }
  .complete-box {
    padding: 53px 0 28px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #eee;
    background: #f7f7f7;
    text-align: center;
    .point01 {
      margin-bottom: 22px;
      font-weight: bold;
      font-size: 22px;
    }
    .txt {
      font-size: 15px;
      color: #777;
    }
  }
  .agree-box {
    margin-top: 44px;
    text-align: right;
    &:nth-of-type(1) {
      margin-top: 23px;
    }
    .check-type1 {
      margin-top: 16px;
      label {
        padding-left: 0;
      }
    }
    & + .check-type1 {
      display: block;
      margin-top: 48px;
      text-align: center;
      label {
        padding-left: 0;
      }
    }
  }
  .txt-self {
    padding-top: 16px;
    margin-bottom: 14px;
    border-top: 2px solid #22b24c;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .cert-box {
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid #d6d5d5;
  }
  .cert-inner {
    width: 290px;
    margin: 0 auto;
    padding-left: 90px;
    background: url(/aml_sangju/images/member/ico-cert.png) no-repeat left top;
    em {
      display: inline-block;
      margin-bottom: 10px;
      font-family: $font5;
      font-size: 22px;
      color: #303030;
    }
    p {
      margin-bottom: 19px;
    }
    a {
      position: relative;
      display: block;
      width: 199px;
      height: 44px;
      padding-left: 20px;
      line-height: 44px;
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      background: #22b24c;
      border-radius: 3px;
      box-sizing: border-box;
      &:after {
        position: absolute;
        top: 0;
        right: 25px;
        content: ">";
      }
    }
  }
  .list-important {
    margin: 0 0 18px 23px;
    word-break: keep-all;
    > li,
    > span {
      position: relative;
      margin-top: 16px;
      padding-left: 30px;
      &:first-child {
        margin-top: 0;
      }
      &:before {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        padding-top: 3px;
        font-family: $font5;
        font-size: 15px;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background: #f63b02;
        box-sizing: border-box;
        content: "!";
      }
    }
    .list-dash {
      > li {
        position: relative;
        padding-left: 13px;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "-";
        }
      }
      ul {
        overflow: hidden;
        margin: 8px 0 10px -13px;
        padding: 14px 0 10px;
        border: 1px solid #d6d5d5;
        text-align: center;
        li {
          display: inline-block;
          &:before {
            display: inline-block;
            margin: 0 45px 0 42px;
            content: "/";
          }
          &:first-child {
            &:before {
              margin: 0;
              content: "";
            }
          }
        }
      }
    }
    p span {
      text-decoration: underline;
    }
    & + .btn-area {
      text-align: center;
      a {
        position: relative;
        display: inline-block;
        width: 149px;
        height: 38px;
        padding-left: 18px;
        font-family: $font4;
        font-size: 15px;
        text-align: left;
        line-height: 38px;
        border: 1px solid #d6d5d5;
        box-sizing: border-box;
        &:before {
          position: absolute;
          top: 0;
          right: 20px;
          content: ">";
        }
      }
    }
  }
  .form-area {
    padding: 45px 40px;
    border: 1px solid #cbc8c7;
    text-align: center;
    .txt-box {
      margin: 0 0 20px 26px;
      padding: 8px 0 13px 116px;
      background: url(/aml_sangju/images/member/ico-find.png) no-repeat left top;
      text-align: left;
      letter-spacing: 0;
      em {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 22px;
      }
      p {
        font-weight: normal;
        font-size: 15px;
      }
    }
    &.login {
      padding: 45px 78px;
      .form-box {
        ul {
          width: 376px;
          li {
            position: relative;
            margin-top: 4px;
            &:first-child {
              margin-top: 0;
            }
            &:after {
              position: absolute;
              right: 12px;
              top: 9px;
              display: block;
              content: "";
              width: 23px;
              height: 23px;
            }
            &:first-child {
              &:after {
                background: url(/aml_sangju/images/member/ico-ipt1.png)
                  no-repeat;
              }
            }
            &:last-child {
              &:after {
                background: url(/aml_sangju/images/member/ico-ipt2.png)
                  no-repeat;
              }
            }
            input {
              width: 100% !important;
              height: 43px;
              line-height: 43px;
            }
          }
        }
      }
      .txt-box {
        margin: 0 0 20px 0;
        padding: 19px 0 8px 100px;
        background: url(/aml_sangju/images/member/ico-login.png) no-repeat left
          top;
        p {
          letter-spacing: -2px;
        }
      }
      .important-area {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid #d6d5d5;
        > div {
          position: relative;
          margin-top: 5px;
          &:nth-of-type(1) {
            margin-top: 0;
          }
          &:after {
            display: block;
            clear: both;
            content: "";
          }
        }
        .list-important {
          margin: 0;
          float: left;
          min-height: 33px;
          padding-top: 5px;
          box-sizing: border-box;
          span:before {
            background: #1f8a70;
          }
        }
        .btn-type5.navy {
          float: right;
          border: 0 none;
          background: #004358;
          border-radius: 3px;
          color: #fff;
        }
      }
    }
  }
  .form-box {
    display: inline-block;
    ul {
      float: left;
      margin-right: 8px;
      li {
        display: table;
        width: 100%;
        margin-top: 6px;
        .inp-type1 {
          height: 45px !important;
        }
        .sel-type1 {
          select {
            height: 45px !important;
          }
        }
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          .inp-type1 {
            width: 15rem;
          }
          .inp-type1:nth-of-type(2),
          .sel-type1 {
            width: 8rem;
          }
        }
        > span {
          display: table-cell;
          width: 66px;
          text-align: left;
          vertical-align: middle;
        }
      }
    }
    .btn-submit {
      width: 95px;
      height: 96px;
      color: #fff;
      font-weight: bold;
      background: #22b24c;
      border-radius: 3px;
    }
    .list-important {
      margin: 20px 0 0 0;
      text-align: right;
    }
  }
}

@media (max-width: 1040px) {
  .member {
    .txt-box {
      font-size: 14px;
    }
    .h4.type2 {
      margin: 15px 0 7px 0;
    }
    .txt-hyphen {
      margin-left: 0;
      > li {
        margin-top: 0.8rem;
        font-size: 1rem;
      }
      .txt-num {
        em {
          margin-top: 0.8rem;
        }
      }
    }
    .site-area {
      .site-inner {
        .site-list {
          > li {
            margin-top: 10px;
            > a {
              padding-left: 1.2rem;
              &:before {
                top: 0.2rem;
                width: 1rem;
                height: 1rem;
                background-size: auto 100%;
              }
            }
          }
        }
        .txt-hyphen {
          margin: 10px 0 0 0;
          padding: 6px 15px;
          li {
            margin-top: 8px;
            a {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .member {
    .tbl-form {
      .inp-type1 {
        width: 100%;
        & + .inp-type1 {
          margin-top: 0.3rem;
        }
      }
      .ipt-lst {
        margin: 0.3rem 0;
        line-height: 1;
        li + li {
          margin-left: 1rem;
        }
      }
    }

    /* 이메일  */
    .form--email {
      position: relative;
      .inp-type1 {
        width: 100% !important;
      }
      .inp-type1:nth-of-type(1) {
        padding-right: 2rem;
        margin-bottom: 0.3rem;
      }
      .txt {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        margin: 0;
        font-size: 0.8rem;
        line-height: 2.7rem;
        text-align: center;
      }
      .sel-type1 {
        display: block;
        width: 100%;
        margin: 0.3rem 0 0;
      }
    }
    /* 전화번호 */
    .form--call {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      .sel-type1 {
        flex: 1;
      }
      .inp-type1 {
        flex: 1;
      }
      .txt {
        margin: 0 0.3rem;
        line-height: 2.7rem;
      }
      .ipt-lst {
        display: block;
        margin: 0.3rem 0 0;
        li + li {
          margin-left: 1rem;
        }
      }
    }
    /* 주소 */
    .form--addr {
      .block {
        margin-top: 0.3rem;
        &:nth-of-type(1) {
          margin-top: 0;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          .inp-type1 {
            flex: 1;
          }
        }
      }
      .btn-type3 {
        margin-left: 0.3rem;
        vertical-align: top;
      }
    }
  }
}

@media (max-width: 768px) {
  .member {
    .txt-box {
      margin: 0 5rem 2rem;
      line-height: 20px;
    }
    .txt-hyphen {
      > li {
        line-height: 18px;
        &:before {
          top: 8px;
        }
      }
      .txt-num ul {
        margin-left: 14px;
      }
    }
    .list-view {
      margin: 10px 0 20px;
      li {
        &:before {
          background-size: 100% !important;
          left: 10px;
        }
      }
      li {
        padding: 9px;
        &:before {
          width: 34px;
          height: 31px;
        }
        p {
          position: static;
          top: auto;
          transform: translate(0, 0);
          max-width: inherit;
          margin: 0 0 10px 0;
          padding-top: 42px;
        }
        .btn-down {
          position: absolute;
          top: 10px;
          right: 10px;
          float: none;
          width: 80px;
          height: 30px;
          span {
            &:after {
              margin-left: 5px;
              width: 13px;
              height: 14px;
              vertical-align: -2px;
            }
          }
        }
      }
    }
    .site-area {
      margin: 0;
      .site-inner {
        width: calc(50% - 6px);
        margin-left: 6px;
        &:nth-of-type(2n + 1) {
          margin-left: 0;
        }
        &:nth-of-type(n + 3) {
          margin-top: 20px;
        }
        &:nth-of-type(4) {
          margin-left: 6px;
        }
        h3 {
          height: 23px;
          line-height: 23px;
          margin-bottom: 10px;
          font-size: 12px;
        }
      }
    }
    .ui--tab {
      margin-bottom: 20px;
    }

    .info-box {
      .txt-hyphen {
        margin: 5px 0 0 12px;
      }
      .check-type1 label {
        font-size: 1rem;
      }
    }
    .step-join {
      margin-bottom: 22px;
      li {
        width: calc(25% - 13px);
        height: 45px;
        margin-left: 15px;
        padding-left: 0;
        line-height: 45px;
        font-size: 12px;
        &.current {
          border: 2px solid #22b24c;
          line-height: 45px;
          &:before {
            left: -13px;
          }
        }
        &:before {
          left: -12px;
          font-size: 1rem;
        }
        span {
          width: 20px;
          height: 100%;
          margin-right: 3px;
        }
      }
    }
    .complete-box {
      padding: 27px 10px 14px;
      .point01 {
        margin-bottom: 11px;
        font-weight: bold;
        font-size: 15px;
      }
      .txt {
        font-size: 12px;
      }
    }
    .info-box {
      .check-type1 {
        margin-top: 15px;
      }
    }
    .agree-box {
      margin-top: 22px;
      &:nth-of-type(1) {
        margin-top: 12px;
      }
      .ipt-textarea1 {
        font-size: 1.2rem;
        line-height: 20px;
      }
      .check-type1 {
        margin-top: 8px;
      }
      & + .check-type1 {
        margin-top: 24px;
      }
    }
    .txt-self {
      padding-top: 8px;
      margin-bottom: 7px;
      font-size: 1.1rem;
    }
    .cert-box {
      padding: 15px;
      margin-bottom: 10px;
    }
    .cert-inner {
      width: 145px;
      padding-left: 4.5rem;
      background-size: 3.5rem 100% !important;
      em {
        margin-bottom: 10px;
        font-size: 1.1rem;
      }
      p {
        margin-bottom: 10px;
        font-size: 0.9rem;
      }
      a {
        width: 115px;
        height: 22px;
        padding-left: 10px;
        line-height: 22px;
        font-size: 12px;
        &:after {
          right: 7px;
        }
      }
    }
    .list-important {
      margin: 0 0 10px 0;
      > li,
      > span {
        margin-top: 8px;
        padding-left: 1.3rem;
        &:before {
          width: 1rem;
          height: 1rem;
          top: 3px;
          padding-top: 0;
          font-size: 0.9rem;
          line-height: 1rem;
        }
      }
      .list-dash {
        > li {
          padding-left: 8px;
        }
        ul {
          margin: 4px 0 5px -6px;
          padding: 7px 0 5px;
          border: 1px solid #d6d5d5;
          li {
            &:before {
              margin: 0 0.5rem 0 0.5rem;
            }
          }
        }
      }
      & + .btn-area {
        a {
          width: 9rem;
          height: 3rem;
          padding-left: 10px;
          font-size: 1rem;
          line-height: 3rem;
          &:before {
            right: 1rem;
          }
        }
      }
    }
    .form-area {
      padding: 2rem !important;
      .txt-box {
        margin: 0 0 10px 13px;
        padding: 4px 0 6px 6rem;
        background-size: 5rem auto;
        em {
          margin-bottom: 5px;
          font-size: 1.3rem;
          line-height: 1.5rem;
        }
        p {
          font-size: 1.1rem;
          line-height: 1.3rem;
        }
      }
      &.login {
        .txt-box {
          margin: 0 0 10px 0;
          padding: 10px 0 4px 9.5rem;
        }
        .form-box {
          width: 80%;
          ul {
            margin-bottom: 15px;
            width: 100%;
            li {
              &:after {
                top: 5px;
                right: 6px;
                width: 1.8rem;
                height: 1.8rem;
                background-size: 100% !important;
              }
            }
          }
        }
        .important-area {
          margin-top: 15px;
          padding-top: 10px;
          .list-important {
            float: none;
            min-height: auto;
            margin-bottom: 5px;
            padding-top: 0;
            text-align: left;
          }
          .btn-type5.navy {
            float: left;
          }
        }
      }
    }
    .form-box {
      ul {
        float: none;
        margin: 0 0 10px 0;
        li {
          margin-top: 0.3rem;
          .inp-type1 {
            height: 2.7rem !important;
          }
          .sel-type1 {
            select {
              height: 2.7rem !important;
            }
          }
          &:last-child {
            .sel-type1 {
              width: 100%;
            }
          }
          > span {
            width: 5rem;
            font-size: 0.8rem;
          }
        }
      }
      .btn-submit {
        width: 7rem;
        height: 4rem;
      }
      .list-important {
        margin: 10px 0 0 0;
        text-align: center;
        span {
          &:before {
            top: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .member {
    .txt-box {
      font-size: 12px;
    }
    .step-join {
      li {
        width: calc(25% - 7px);
        margin-left: 9px;
        font-size: 1.1rem;
        &:before {
          left: -8px;
        }
        &.current {
          &:before {
            left: -9px;
          }
        }
      }
    }
    .list-important {
      .list-dash {
        ul {
          li {
            display: block;
            &:before {
              margin: 0;
              content: "";
            }
          }
        }
      }
    }
  }
}
